= simple_form_for :comment, :url=>{:controller => 'comments' , :action => 'add_comment'} do |c|
  = c.hidden_field :commentable_type, :value => @commentable_type
  = c.hidden_field :commentable_id, :value => @commentable_id
  .field
    = c.label :text, 'Kommentar'
    = c.text_area :text, :rows => 2
    %br
    = c.label :status, 'Art' 
    = c.select :status, [:Telefonat, :Email, :Sonstiges]  
    = c.submit 'Save'
%table{:class => 'table_standard'}
  %tr
    %th Datum
    %th Text
    %th Benutzer
    %th Status

  - Comment.find(:all, :conditions => ["commentable_type=? and commentable_id=?", @commentable_type, @commentable_id], :order => 'created_at DESC').each do |comment|
    %tr
      %td{:width => '130px'}= comment.created_at.strftime('%d.%m.%Y %H:%M')
      %td= comment.text
      %td{:width => '150px'}= comment.user.email
      %td{:width => '100px'}= comment.status
