%p#notice= notice

%p
  %b Commentable type:
  = @comment.commentable_type
%p
  %b Commentable:
  = @comment.commentable_id
%p
  %b Date:
  = @comment.date
%p
  %b Short text:
  = @comment.short_text
%p
  %b Text:
  = @comment.text
%p
  %b User:
  = @comment.user_id
%p
  %b Status:
  = @comment.status

= link_to 'Edit', edit_comment_path(@comment)
\|
= link_to 'Back', comments_path
