= form_for @principal do |f|
  -if @principal.errors.any?
    #error_explanation
      %h2= "#{pluralize(@principal.errors.count, "error")} prohibited this principal from being saved:"
      %ul
        - @principal.errors.full_messages.each do |msg|
          %li= msg

  %ul{:class => 'tabs'}
    %li
      %a{:href=>'#'} Allgemein
    %li
      %a{:href=>'#'} Adresse
  
  %div{:class => 'panes'}
    %div
      .field
        = f.label :name
        = f.text_field :name, :disabled => true
      = f.fields_for :user do |user_form|
        .field
          = user_form.label :email
          = user_form.text_field :email, :disabled => true
        .field
          = user_form.label :vatregno
          = user_form.text_field :vatregno, :disabled => true
      
    %div
      = f.fields_for :address do |address_form|
        .field
          = address_form.label :name, 'Name'
          = address_form.text_field :name
        .field
          = address_form.label :firstname, 'Vorname'
          = address_form.text_field :firstname
        .field
          = address_form.label :companyname, 'Firma'
          = address_form.text_field :companyname
        .field
          = address_form.label :street1, 'Adresse'
          = address_form.text_field :street1
        .field
          = address_form.label :street2, 'Adresse'
          = address_form.text_field :street2
        .field
          = address_form.label :postalcode, 'PLZ'
          = address_form.text_field :postalcode
        .field
          = address_form.label :city, 'Ort'
          = address_form.text_field :city
    
  .actions
    = f.submit 'Speichern'
 
%script{:type => "text/javascript", :charset => "utf-8"}
  $(function() {
  $("ul.tabs").tabs("div.panes > div");
  });
  
 