%h1 Auftraggeber

%table
  %tr
    %th Name
    %th
    %th
    %th

  - @principals.each do |principal|
    %tr
      %td= principal.name
      %td= link_to 'Anzeigen', principal
      %td= link_to 'Bearbeiten', edit_principal_path(principal)
      %td= link_to 'Löschen', principal, :confirm => 'Wirklich löschen?', :method => :delete

%br

= link_to 'Neuer Auftraggeber', new_principal_path
