%h1 Listing principals

%table
  %tr
    %th Name
    %th
    %th
    %th

  - @principals.each do |principal|
    %tr
      %td= principal.name
      %td= link_to 'Show', principal
      %td= link_to 'Edit', edit_principal_path(principal)
      %td= link_to 'Destroy', principal, :confirm => 'Are you sure?', :method => :delete

%br

= link_to 'New Principal', new_principal_path
