<%= simple_form_for(@event) do |f| %>
  <% if @event.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@event.errors.count, "error") %> prohibited this event from being saved:</h2>

      <ul>
      <% @event.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :title %><br />
    <%= f.text_field :title %>
  </div>
  <div class="field">
    <%= f.label :starts_at %><br />
    <%= f.text_field :starts_at, :value => formated_date(f.object.starts_at), :class => 'datepicker' %>
  </div>
  <div class="field">
    <%= f.label :ends_at %><br />
    <%= f.text_field :ends_at, :value => formated_date(f.object.ends_at), :class => 'datepicker' %>
  </div>
  <div class="field">
    <%= f.label :all_day %><br />
    <%= f.check_box :all_day %>
  </div>
  <div class="field">
    <%= f.label :description %><br />
    <%= f.text_area :description, :rows => 2%>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
<script type="text/javascript">
  $(function() {
    $( ".datepicker" ).datepicker({dateFormat: 'dd.mm.yy'});
  });
</script>
