%h1 Listing agents

%table{:class => 'table_standard'}
  %tr
    %th Name
    %th
    %th
    %th

  - @agents.each do |agent|
    %tr
      %td= agent.name
      %td{:width => '90px'}= button_to 'Show', agent, :class => 'button'
      %td{:width => '90px'}= button_to 'Edit', edit_agent_path(agent), :class => 'button'
      %td{:width => '90px'}= button_to 'Destroy', agent, :confirm => 'Are you sure?', :method => :delete, :class => 'button'

%br

= button_to 'New Agent', new_agent_path
