= simple_form_for @profil, :remote=>true do |f|
  -if @profil.errors.any?
    #error_explanation
      %h2= "#{pluralize(@profil.errors.count, "error")} prohibited this profil from being saved:"
      %ul
        - @profil.errors.full_messages.each do |msg|
          %li= msg

  .field
    = f.label :name
    = f.text_field :name
  .field
    = f.label :active
    = f.check_box :active
  .field
    = f.label :category
    = f.association :category, :collection => Category.all(:order => 'name')
  .actions
    = f.submit 'Speicher'
