%h3 Ihre Profile
%p Sie können mehrer Profile anlegen. Pro Profil kann eine Tätigkeitskategorie ausgewählt werden. 

%table{:class => 'table_standard'}
  %tr
    %th Aktiv
    %th Name
    %th
    %th
    %th
    %th

  - @profils.each do |profil|
    %tr
      %td{:width => '50', :align => 'center'}= check_box :profil, :active, :checked => profil.active, :disabled => true
      %td= profil.name 
      %td{:width => '90px'}= button_to 'Anzeigen', profil, :class => 'button'
      %td{:width => '90px'}= button_to 'Bearbeiten', edit_profil_path(profil), :class => 'button'
      %td{:width => '90px'}= button_to 'Löschen', profil, :confirm => 'Sind sie sicher?', :method => :delete, :remote => true, :class => 'button'

%br

= link_to 'Neues Profil anlegen', new_profil_path
