%p#notice= notice

%p
  %b Name:
  = @profil.name
  %br
  %b Aktiv:
  = check_box :profil, :active, :checked => @profil.active, :disabled => true

= button_to 'Bearbeiten', edit_profil_path(@profil), :class => 'button'
= button_to 'Löschen', @profil, :method => :delete, :remote => true, :class => 'button'
