%p#notice= notice

%p
  %b Name:
  = @profil.name
%p
  %b Active:
  = @profil.active

= link_to 'Edit', edit_profil_path(@profil)
\|
= link_to 'Back', profils_path
\|
= link_to 'Delete', @profil, :method => :delete, :remote => true
\|
= button_to 'Delete', @profil, :method => :delete, :remote => true, :class => 'button'
