%p Adresse:
= f.fields_for :address do |address_form|
  .field
    = address_form.label :name, 'Name'
    = address_form.text_field :name
  .field
    = address_form.label :firstname, 'Vorname'
    = address_form.text_field :firstname
  .field
    = address_form.label :companyname, 'Firma'
    = address_form.text_field :companyname
  .field
    = address_form.label :street1, 'Adresse'
    = address_form.text_field :street1
  .field
    = address_form.label :street2, 'Adresse'
    = address_form.text_field :street2
  .field
    = address_form.label :postalcode, 'PLZ'
    = address_form.text_field :postalcode
  .field
    = address_form.label :city, 'Ort'
    = address_form.text_field :city