<!DOCTYPE HTML>
<html>
    <head>
        <title>Subtools3</title>
        <%= stylesheet_link_tag :all %>
        <%#= javascript_include_tag :all %>
        <%= javascript_include_tag "application.js", "jquery.min.js", "rails.js" %>
        <%= javascript_include_tag "adminmenu.js" %>
        <%= csrf_meta_tag %>
    </head>
    <body>
        <div id="wrapper">
            <div id="header" class="roundtop">
                
                <%= link_to 'Subtools', root_path, :class => 'logo' %>
                <div id="user_nav">
                    <% if user_signed_in? %>
                    Angemeldet als <%= current_user.email %>. <%= link_to "Abmelden", destroy_user_session_path %>
                    <% else %>
                    <!--<%= link_to "Registrieren", new_user_registration_path %>oder-->
                    <%= link_to "Anmelden", new_user_session_path %>
                    <% end %>
                </div>
            </div>
            <%= render :partial => "layouts/adminmenu" %>
            <%= render :partial => "layouts/leftcolumn" %>
            <div id="content">
                <p class="notice">
                    <%= notice %>
                </p>
                <p class="alert">
                    <%= alert %>
                </p>
                <%= yield %>
            </div>
            <div id="footer" class="roundbottom">
                <center>
                    Impressum | Kontakt | AGBs
                </center>
            </div>
        </div>
    </body>
</html>
